@font-face {
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
src: url(CursedTimerUlil-Aznm.ttf)

 }
 
body {
    margin: 0;
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 600px;
    background: #1b244a;
  
}

   
   .number-style {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    color: #F94F6D;
    margin:20px 30px;
    padding-top: 20px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;    
    
    background-color:black;

    width: 155px;

    border-radius: 5px;
}


    
.title-style {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 21px;
    
    
    color: white; 
        
    }
    
button {
    font-family: 'Cursed Timer ULiL';
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    background-color:transparent;
    color: #9aabd8;
    border-color: #9aabd8;
    height: 45px;
    width: 45px;
    border-radius: 5px;

    
    padding-top: 5px;
    text-align: center;
}

#reset-button {
    position: absolute;

    top: 335px;
    left: 260px;
    text-align: center;
    width: 90px; 
}

#countdown {
    position: absolute;
    left: 235px;
    bottom: 450px;
    top: 30px;
    width: 90px;
    margin-top: 0px;
    text-align: center;

}

#reset-timer {
    position: absolute;
    top: 285px;
    left: 260px;
    text-align: center;
    width: 90px; 
}